6
Tuan Asix
otomata
Ini bio lho
08070605
Pahing
Privat
R * R * R * R * R *
R * G @ B * G @ R *
R * G @ G @ G @ R *
R * G @ B * G @ R *
R * R * R * R * R *
Tuan Bus
pohoneri
nama saya kira yoshikage, umur saya 34 tahun
08

Publik
G | B * R / B * B :
G | R * G / R * B :
R | B * R / B * R :
G | R * G / R * B :
G | B * R / B * B :
Tuan Cah!@
&&^^%%
kLIwOnPahingPonLegiWageStringKosing
111122233455555
KLIwoN
Publik
G | B * R / B * B :
G | R * G / R * B :
R | B * R / B * R :
G | R * G / R * B :
G | B * R / B * B :
Tuan dis22
123 !@# qwe


legI
Privat
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
T   U   A   N   
P   A   S
T  E S          2

WAGe
Privat
R R R R R R R R R R
R R R R R R R R R R
R R R R R R R R R R
R R R R R R R R R R
R R R R R R R R R R
tuanfaiz
        spasi8
(@*D)NJAPSHSFLASFHLpekofdvnsd|}{P    :{:{
0
pon
Publik
R A R B R C R D R E
G 1 G 2 G 3 G 4 G 5
B ! B @ B # B $ B %
G < G > G : G " G "
R G G B B R R R B B
1 1 1 0 1 0
1 1 1 0 1 0
1 1 1 0 1 0
0 0 0 1 0 0
1 1 1 0 1 0
0 0 0 0 0 1
2
0 3 0
5 1 1
