10s
1
Brrrrr skibidi dop dop dop yes yes yes skibidi skibidi numero uno
4
Tuan Bus
11/11/2023 11:09:18
2
Ini Tuan Bus 2
5
Tuan Asix
19/11/2023 11:09:12
3
312345678912345678912345678>}""}">"}":>:"}"?"}"'/\/'\'/\\'/twit3
0
Tuan Cah!@
19/11/2023 23:59:59
4
p                                 spasi                o             spasi                              p .44
6
Tuan Cah!@
20/11/2023 00:00:01
5
5
5
T   U   A   N
20/11/2023 11:11:11
6
Twit 6 la. Integer malesuada. In in enim a arcu imperdiet malesuada. Sed vel lectus. Donec odio urna, tempus molestie, porttitor ut, iaculis quis, sem. Phasellus rhoncus. Aenean id metus id velit ullamcorper pulvinar. Vestibulum fermentum tortor id mi. Pellentesque ipsum. N
1
Tuan Bus
20/11/2023 12:12:12
7
CarpetMarket 7.
2
tuanfaiz
20/11/2023 13:13:13
8
isi ngasal.........:8
4
Tuan dis22
20/11/2023 14:14:14
9
hihihiha grrrrrr???++999
1
T   U   A   N
20/11/2023 15:15:15
10
// ini bukan komentar 10//10
0
Tuan dis22
20/11/2023 21:17:12
