2
1
4
-1 1
Ini Balasan dari Node Utama, yaitu Kicauan ke-5
Tuan Cah!@
14/10/2023 11:09:18
1 2
Ini Balasan dari Balasan ID ke-1
Tuan Asix
14/10/2023 11:09:12
1 3
Ini Balasan dari Balasan ID ke-1
Tuan Asix
14/10/2023 11:09:12
2 4
Ini Balasan dari Balasan ID ke-2
Tuan Asix
14/10/2023 11:09:12
3
6
-1 1
Is Skew Right real kah (Ortu)
Tuan Bus
19/10/2023 09:09:09
1 2
Still SkeW Right (depth 1)
Tuan Asix
19/10/2023 10:10:10
2 3
Still Skew (depth 2)
tuanfaiz
19/10/2023 12:12:12
3 4
skew (depth 3)
Tuan dis22
19/20/2023 13:13:13
4 5
w (depth 4)
T   U   A   N   
19/20/2021 14:14:14
5 6
help i am under de water blubub blubub (depth 5)
Tuan Cah!@
19/20/2021 15:15:15

